<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Simple POS Calculator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="./bootstrap-uncss.min.css">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
<div id="app">
  <div class="container h-100vh">
    <div class="row py-3 bg-secondary">
      <div class="col">
        <h5 class="mb-0 text-white">Calculator</h5>
      </div>

      <div class="col-auto" v-if="numericValEntered.length">
        <h5 class="mb-0 text-warning text-right">{{alphaValEntered.join("")}} | {{numericValEntered.join("")}}</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-6 bdr-grey-r bdr-grey-y">
        <div class="row calc-btns h-100vh-exclude-112px">
          <div class="col-6 d-flex bdr-grey-b bdr-grey-r bg-warning text-white" @click="clsBtnClicked()">
            <h4 class="m-auto">C</h4>
          </div>
          <div class="col-6 d-flex bdr-grey-b bg-danger text-white" @click="allClsBtnClicked()">
            <h4 class="m-auto">AC</h4>
          </div>
          <div class="col-6 d-flex bdr-grey-b bdr-grey-r" @click="clickedBtn('A', 1)">
            <h4 class="m-auto">A<sup class="text-muted">1</sup></h4>
          </div>
          <div class="col-6 d-flex bdr-grey-b" @click="clickedBtn('B', 2)">
            <h4 class="m-auto">B<sup class="text-muted">2</sup></h4>
          </div>
          <div class="col-6 d-flex bdr-grey-b bdr-grey-r" @click="clickedBtn('C', 3)">
            <h4 class="m-auto">C<sup class="text-muted">3</sup></h4>
          </div>
          <div class="col-6 d-flex bdr-grey-b" @click="clickedBtn('D', 4)">
            <h4 class="m-auto">D<sup class="text-muted">4</sup></h4>
          </div>
          <div class="col-6 d-flex bdr-grey-b bdr-grey-r" @click="clickedBtn('E', 5)">
            <h4 class="m-auto">E<sup class="text-muted">5</sup></h4>
          </div>
          <div class="col-6 d-flex bdr-grey-b" @click="clickedBtn('F', 6)">
            <h4 class="m-auto">F<sup class="text-muted">6</sup></h4>
          </div>
          <div class="col-6 d-flex bdr-grey-b bdr-grey-r" @click="clickedBtn('G', 7)">
            <h4 class="m-auto">G<sup class="text-muted">7</sup></h4>
          </div>
          <div class="col-6 d-flex bdr-grey-b" @click="clickedBtn('H', 8)">
            <h4 class="m-auto">H<sup class="text-muted">8</sup></h4>
          </div>
          <div class="col-6 d-flex bdr-grey-b bdr-grey-r" @click="clickedBtn('I', 9)">
            <h4 class="m-auto">I<sup class="text-muted">9</sup></h4>
          </div>
          <div class="col-6 d-flex bdr-grey-b" @click="clickedBtn('J', 0)">
            <h4 class="m-auto">J<sup class="text-muted">0</sup></h4>
          </div>
          <div class="col-12 d-flex bg-success text-white" @click="addBtnClicked()">
            <h4 class="m-auto">Add</h4>
          </div>
        </div>
      </div>

      <div class="col-6 px-0 bdr-grey-y">
        <div class="pin pin-xy of-a">
          <table class="table text-right table-items">
            <tbody>
              <tr v-for="item in items">
                <td>{{item.alphaCode}}</td>
                <td>{{item.value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row py-3 bg-dark">
      <div class="col-12">
        <h5 class="mb-0 text-right text-white">
          <span class="text-muted mr-2">Total:</span>
          <span class="text-white">{{totalSumOfItems}}</span>
        </h5>
      </div>
    </div>
  </div>
</div>

<script src="./vue.min.js"></script>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      totalSumOfItems: 0,
      alphaValEntered: [],
      numericValEntered: [],
      items: []
    },

    methods: {
      clickedBtn: function (alphabet, number) {
        this.alphaValEntered.push(alphabet)
        this.numericValEntered.push(number)
      },

      addBtnClicked: function (alphabet, number) {
        if (this.alphaValEntered.length === 0) return 0;

        this.resetTotalSumOfItems();

        this.items.push(
          {
            alphaCode: this.alphaValEntered.join(""),
            value: this.numericValEntered.join("")
          }
        )

        this.totalSumOfItems = this.items.reduce(function (acc, obj) { return Number(acc) + Number(obj.value) }, 0);

        this.resetAlphaNumericValEntered()
      },

      clsBtnClicked: function () {
        this.resetAlphaNumericValEntered()
      },

      allClsBtnClicked: function () {
        this.resetTotalSumOfItems();
        this.resetAlphaNumericValEntered();
        this.items = []
      },

      resetTotalSumOfItems: function () {
        this.totalSumOfItems = 0
      },

      resetAlphaNumericValEntered: function () {
        this.alphaValEntered = [];
        this.numericValEntered = []
      }
    }
  })
</script>
</body>
</html>