html{
  height: 100%;
}
body {
  min-height: 100%;
}

.h-100vh {
  height: 100vh;
}

.h-100vh-exclude-112px {
  height: calc(100vh - 112px)
}

.pin {
  position: absolute;
}

.pin-xy {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.of-a {
  overflow: auto
}

.calc-btns div {
  cursor: pointer;
  background-color: #e0e0e0;
}

.calc-btns div:hover,
.calc-btns div:active {
  background-color: #b2b2b2;
}
.calc-btns .bg-danger:hover,
.calc-btns .bg-danger:active {
  background-color: #bd2130 !important;
}

.calc-btns .bg-success:hover,
.calc-btns .bg-success:active {
  background-color: #1e7e34 !important;
}

.calc-btns .bg-warning:hover,
.calc-btns .bg-warning:active {
  background-color: #d39e00 !important;
}

.bdr-grey-t {
  border-top: 1px solid #8e8e8e;
}

.bdr-grey-b {
  border-bottom: 1px solid #8e8e8e;
}

.bdr-grey-y {
  border-top: 1px solid #8e8e8e;
  border-bottom: 1px solid #8e8e8e;
}

.bdr-grey-x {
  border-left: 1px solid #8e8e8e;
  border-right: 1px solid #8e8e8e;
}

.bdr-grey-l {
  border-left: 1px solid #8e8e8e;
}

.bdr-grey-r {
  border-right: 1px solid #8e8e8e;
}

/* Bootstrap override */

.table.table-items td {
  padding: 7px 10px 8px;
}